*{
    padding: 0;
    margin: 0;;
    font-family: 'popins',sans-serifserif;

}

header{
    position: fixed;
    top:0;
    width: 100%;
    background-color: transparent;
    color: #fff;
    transition: background-color 0.6s ease;
    z-index: 10;
   
}

header nav ul li {
    list-style: none;
    margin-left: 8px;
    margin-right: 8px;
}
a{
    text-decoration:none;
    color : #fff;
}
.headerColored{
    background-color: #6f2642;

}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.between{
    justify-content: space-between;
}
.align-center{
    align-items: center;
}


.logo{
    
    font-size: 15px;
    text-decoration: none;
    padding: 20px 0 5px 20px;
    

}
.logo img{
    width: 100px;
    border-radius: 20px 20px;
}
.acc{
    position: relative;
    width: 100ù;
    justify-content: space-between;
    height: 150vh;
    background:url(assets/patt.jpg) ;
    background-size:cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 20px 10% 0;

    
}
.acc-content{
    max-width: 600px;
}

.acc-content h3{
    font-size: 32px;
    font-weight: 700;
    color: black;
}
.acc-content h1{
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    color:#6f2642 ;

}
.acc-content p {
    font-size: 20px;
    color:black ;
}
.acc-content .btn{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 50px;

}
.btn2 a{

    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid ;
    border-radius: 50%;
    font-size: 20px;
    color: v;
    text-decoration: none;
    margin: 30px 15px 30px 0;

}
.btn2 a:hover{ 
    background-color: #6f2642;
    color: white;
    box-shadow: 0 0 20px #6f2642;
}


  .btn1 {
    background-color: #ffe5f1 ;
    padding: 16px 32px;
    color:  #6f2642;
    text-decoration: none;
 justify-content: center;
    
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #ffe5f1 ;
    box-shadow:rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  
  .btn1:hover {
    letter-spacing: 3px;
    background-color:#6f2642;
    color: white;
    box-shadow: white 0px 7px 29px 0px;
  }
  
  .btn1:active {
    letter-spacing: 3px;
    background-color:#6f2642;
    color:#6f2642(0, 0%, 100%);
    box-shadow: black 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

  #content{
    background-color:#ffe5f1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
  
    background-color: #6f2642;
    background-size:cover;
    background-position: center;
    align-items: center;
}
.card {
justify-content: space-around;
    margin: 50px 0 50px 0 ;
    background-color: #ffe5f1  ;
    width: 30%;
    margin-top: 22px;
    padding: 16px;
    border-radius: 16px;
    box-shadow: 4px 4px 12px #6f2642  ;
    font-family: "Karla", sans-serif;
    

}
.card img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.card h2{
    margin-top: 10px ;
    margin-bottom: 10px;
    padding: 8px;
}
.card p{
    margin-top: 10px ;
    margin-bottom: 10px;
    padding: 8px;
    font-family: 'popins',sans-serifserif;
    color:btn2 {
        --glow-color: rgb(217, 176, 255);
        --glow-spread-color: rgba(191, 123, 255, 0.781);
        --enhanced-glow-color: rgb(231, 206, 255);
        --btn-color: rgb(100, 61, 136);
        border: .25em solid var(--glow-color);
        padding: 1em 3em;
        color: var(--glow-color);
        font-size: 15px;
        font-weight: bold;
        background-color: var(--btn-color);
        border-radius: 1em;
        outline: none;
        box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
        text-shadow: 0 0 .5em var(--glow-color);
        position: relative;
        transition: all 0.3s;
        }
      
      .btn2::after {
        pointer-events: none;
        content: "";
        position: absolute;
        top: 120%;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: var(--glow-spread-color);
        filter: blur(2em);
        opacity: .7;
        transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
      }
      
      .btn2:hover {
        color: var(--btn-color);
        background-color: var(--glow-color);
        box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
      }
      
      .btn2:active {
        box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
      }
      ;
    font-size: large;
}
.flex1{
    display: flex;
    justify-content: space-around;
    margin: 50px;
}
.btn2 {
    outline: none;
    cursor: pointer;
    border: none;
    padding: 10px 10px 10px;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    position: relative;
    display: inline-block;
    font-weight: 700;
    font-size: 13px;
    overflow: hidden;
    background: #ff013c;
    color: ghostwhite;
    text-decoration: none;
    border-radius: 16px;
   }
   
   .btn2 span {
    position: relative;
    z-index: 10;
    transition: color 0.4s;
   }
   
   .bnt2:hover span {
    color: black;
   }
   
   .btn2::before,
   .btn2::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
   }
   
   .btn2::before {
    content: "";
    background: #6f2642;
    width: 120%;
    left: -10%;
    transform: skew(30deg);
    transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
   }
   
   .btn2:hover::before {
    transform: translate3d(100%, 0, 0);
   }

    

#acc{
    background-color:#ffe5f1;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    background-color: #6f2642;
    background-size:cover;
    background-position: center;
    align-items: center;

}
.cli{
    justify-content: space-around;
    margin: 50px 0 50px 0 ;
    background-color: #ffe5f1  ;
    width: 30%;
    margin-top: 22px;
    padding: 16px;
    border-radius: 13px;
    box-shadow: 4px 4px 12px #6f2642  ;
    font-family: "Karla", sans-serif;

}
.cli:hover {
    letter-spacing: 3px;
    background-color:#6f2642;
    color: white;
    box-shadow: white 0px 7px 29px 0px;
  }
  
  .cli:active {
    letter-spacing: 3px;
    background-color:#6f2642;
    color: hsl(0, 0%, 100%);
    box-shadow: black 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
  }

 




  #serv{
    display: flex;
    width: 100%;
    justify-content: space-around;
    background: url(assets/bgpt.jpg);

}
.serv1{
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background:#fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    transition: 0.5s ease-in-out;
}
.serv1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.serv1:hover{
    transform: translateY(20px)
}
.serv1:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: blocks;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom,rgba(96, 66, 96, 0.5),rgb(111,38,66) );
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;
}
.serv1:hover:before{
    opacity: 1;

}
.serv1 .info{
    position: relative;
    z-index: 3;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
}
.serv1:hover .info{
    opacity: 1;
    transform: translateY(0px);
}
.serv1.info h2{
    margin: 0;

}
.serv1 .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
}
.serv1 .info .btn3{
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: #fff;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}
.serv1 .info .btn3:hover{
    box-shadow: 0px 7px 10px rgba(0,0,0,0.5);
    

}

#tem{
    background-color: #6f2642;

}

.temm{
    font-size: 20px;
    color:black ;
}
